.opened ul {
    display:block;
    position: absolute;
    z-index:1;
    width:75%;
  }
  
  .closed ul{
    display:none;
  }
  
  .navTopLevel.opened a {
    display: block;
    text-align: left;
  }
  
  @media screen and (min-width: 400px) {
  
    .navTopLevel button.icon {
        display: none;
    }
    .navTopLevel li {
      display:inline-block;
      height:2em;
      margin-top:1em;
      line-height:1em;
    }
  
    .closed ul, .opened ul{
      display: inherit;
    }
  }